version: '3'
services:
  blackbox:
    privileged: true
    environment:
      #- DISPLAY=host.docker.internal:0.0 - Windows
      - DISPLAY # - Linux
    build: .
    command: ./src/startblackbox
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix # - Linux
      - .:/src
    ports:
      - "3000:3000"
  webserver:
    build: webserver
    volumes:
      - ./webserver:/src
    command: ./src/startwebserver
  # webserver:
  #   image: vulnerables/web-dvwa
  #   ports:
  #     - "80:80"
  # setupgui:
  #   build: setupgui
  #   volumes:
  #     - ./setupgui:/setupgui
  #   command: /bin/bash
  #   ports:
  #     - "8080:8080"
